.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formContainer {
  width: 500px;
  height: 300px;
  margin: 10px;
}

.header {
  margin-bottom: 40px;
  margin-top: 100px;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
}
