.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 300px;
  border: 1px solid black;
  margin: 15px;
  padding: 10px;
}

.btn {
  border: none;
  background: none;
  color: black;
  font-size: 20px;
}
