.container {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 25px;
  border-bottom: 1px solid black;
}

.noUserContainer {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 25px;
  border-bottom: 1px solid black;
}

.noUserTitle {
  width: 25%;
  display: flex;
  justify-content: center;
}

.title {
  width: 25%;
  display: flex;
  justify-content: flex-start;
}

.options {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}

.optionsLink {
  color: black;
  padding: 10px 15px;
  font-size: 20px;
}

.btn {
  border: none;
  background: none;
  color: black;
  font-size: 20px;
}
